[Desktop Entry]
Type=Application
Exec=julius
Icon=julius
Name=Julius
GenericName=Roman city management game
Comment=Open Source re-implementation of Caesar 3
Categories=Game;Simulation;
